/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
body {
    /* font-family: "Roboto", sans-serif; */
    color: #16447D;
}

.banner {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.breadcrumbs {
    background-image: url(../images/brecumb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

.inner-banner {
    padding-top: 150px;
}

.bg-competition {
    background-image: url(../images/4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.feature {
    background-image: url(../images/4.png);
    background-size: cover;
    background-position: top center;
}

.splash {
    background-image: url(../images/splash.png);
    background-size: cover;
    background-position: left top;
    background-repeat: repeat-x;
}

.pattern {
    position: relative;
}

.pattern::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/pattern/style.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    opacity: 0.5;
    z-index: -1;
}

.image-welcome {
    background-image: url(../images/3-.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
